<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,70}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,70}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{68,70}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>righ.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{68,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{68,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45223a5cf1aed77c627ddc603456cc6d$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
